extends user-layout 

block content 

    div#page
        #chat-title #{recipient.display_name}
        #messages-container
            if messages
                each message in messages
                    .chat-msg
                        .chat-date #{moment(message.timestamp).format("MMM Do, h:mm")}
                        if (message.author.username === user.username)
                            p.current-user-msg #{message.text}
                        else 
                            p.recieving-user-msg #{message.text}
                else
                    div Start chatting now!
            #anchor
        form#message-form
            input#chat(name="chat" value=chat._id hidden)
            input#message(name="message" placeholder="Type your message..." maxlength="150")
            button#submit-btn(type="button") Send
            
    #friends-list
        #online-container(class="flex")
            #online-count Online
            img#online-img(src="/images/circle.png")

    script(src="/socket.io/socket.io.js")
    script.
        const user_display_name="#{user.display_name}";
        const chat_id="#{chat._id}";
        const user_id="#{user._id}";
        const user_friends="#{user.friends}";
    script(src="/javascripts/socket-connect.js")
    script(src="/javascripts/socket-connect-chat.js")
